---
- name: Install packages from apt
  apt:
    name: "{{ wkstn_apt_packages }}"
    state: present
    update_cache: true
  tags:
    - apt

- name: Install packages from remote debs
  apt:
    deb: "{{ item.src }}"
  with_items: "{{ wkstn_remote_debs }}"
  tags:
    - deb

- name: Install packages from snap
  snap:
    name: "{{ item.name }}"
    classic: "{{ item.classic }}"
  with_items: "{{ wkstn_snap_packages }}"
  tags:
    - snap
