wkstn_apt_key_urls: []

wkstn_ppa: []
  # - name: shutter.... Deprecated. :-(
  #   repo: ppa:shutter/ppa

wkstn_apt_packages:
  - vim   # Otherwise, stock vi settings (and key bindings) are OLD school and terrible.
  - ssh   # as in, server. I've never _not_ needed to SSH in to my workstation
  - terminator  # multiple gnome terminals in one window
  - curl  # Why is this not stock??
  - gitk   #  A fast visual git history viewer
  - gnupg-agent   # For signing git commits
  - gnupg2   # For signing git commits
  - mono-complete  #  Required to run KeePass
  - whois   # For checking domain ownership & looking up name servers
  - ack  # A better grep
  - jq  # CLI Json parser
  - ffmpeg
  - mlocate   # For finding files
  - net-tools  # For ifconfig and other things
  - fzf  #  Command Line Fuzzy Finder, 19.10+ only  # https://github.com/junegunn/fzf#using-linux-package-managers
  - autojump   # "j" command line shortcut - a smarter "cd"
  - ksnip   # screenshots; best of the worst, since shutter went RIP in < 18.04
  - ethtool   # for getting info from local network interfaces
  - transmission   #  Torrent manager

wkstn_remote_debs:
  - src: https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  # - src: https://www.syntevo.com/downloads/smartgit/smartgit-19_1_6.deb  .... has a wonderful conflict resolution interface ,,, havent used it in a long time though.
  - src: https://download.virtualbox.org/virtualbox/7.0.4/virtualbox-7.0_7.0.4-154605~Ubuntu~jammy_amd64.deb

wkstn_snap_packages:
  - name: sublime-text  # feature-rich text editor
    classic: true
  - name: pycharm-community  #  Python IDE
    classic: true
  - name: slack   # Work chat
    classic: true
  - name: spotify  # Music
    classic: false
  - name: thunderbird  # For testing email
    classic: false
#  - name: libreoffice  # LibreOffice is installed by default now.
#    classic: false
  - name: yq   # YAML parser
    classic: false
  - name: shellcheck  # Linter for bash scripts
    classic: false
  - name: helm   # Kubernetes package manager
    classic: true
  - name: kubectl
    classic: true
  - name: code   # VS Code IDE
    classic: true

wkstn_git_repos:
  - repo: 'https://github.com/magicmonty/bash-git-prompt.git'
    dest: ~/opt/bash-git-prompt

wkstn_sudo_git_repos: []

wkstn_zips:
  - name: KeePass
    url: https://sourceforge.net/projects/keepass/files/KeePass%202.x/2.52/KeePass-2.52.zip/download
    dest: ~/opt/keepass
  - name: LagoonCLI
    url: https://github.com/uselagoon/lagoon-cli/releases/download/v0.16.0/lagoon-cli-v0.16.0-linux-amd64.tar.gz
    dest: ~/opt/lagoon-cli
