---
on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: env
        run: env
      - name: ls
        run: ls -laF
      - name: pwd
        run: pwd
      - name: whoami
        run: whoami
      - name: try sudo
        run: sudo ls
      - name: Build
        run: sudo WKSTN_TARGET_BRANCH="${GITHUB_HEAD_REF}" ./bootstrap
